extends _includes/layout.pug
block append content
  - allPosts ??=[]
  if user
    include  _includes/addpost
  each post in allPosts
    article
      div
        span 
          b= post.realname
        span= ' '
        span
          i= post.time
      div
      aside
        h4= post.title
        p= post.body
      